*{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}


/* headar section start */
.head-section{
    background-color:#264653;
}
.header-p{
    font-size: .875rem;
    font-weight: 300;
    color: #E0E0E0;
    line-height: 1.5rem;
}
.header-h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.main-h1{
    font-size: 2.5rem;
    font-weight: 600;
}
.main-h2{
    font-size: 1.75rem;
    font-weight: 600;
}
.purchase-btn{
    background-color: #E76F51;
    color: white;
    padding: 10px 44px;
    font-size: 1rem;
    font-weight: 500;
}
.header-bike img{
    width: 100%;
 
}
.feateure-p{
    color:#E76F51;
    font-size: 0.875rem;
    font-weight: 600;
}
.feture-bike{
    width: 50%;
}
 /* Gray Scale  */
.gray-sc{
    filter: grayscale(100%);
}

.bike-image{
    padding: 20px;
}
.read-btn{
    background-color: #E76F51;
    color: white;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 500;
}
.read-btn-light{
    color: #E76F51;
    border: 1px solid #E76F51;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 500;
}
.read-btn-light:hover{
    background-color: #E76F51;
    color: white;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 500;
}
/* Client section  */
.client-span{
    color: #E76F51;
    font-size: 2.5rem;
    font-weight: 600;
    /* line-height: 72px; */
}
.customer-review img{
    width:149px;
    height: 149px;
}
.rating-clr{
    color: #E76F51;
}

/* FAQ section  */
.faq img{
    width: 80%;
}
/* QC dection  */
.ask-qc img{
    width: 50%;
    
}
/* footer  */
footer{
    font-size: 3rem;
    font-weight: 400;
}